@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.first_heading {
  color: rgb(14, 148, 34);
  background-color: grey;
  /* border-width:2px ;
    border-color:red ;
    border-style: double; */
  /* padding-right:20px ; */
  /* padding: 10px 40px 30px 0px; */
  /* padding: 10px; */
  /* margin: 140px 30px 40px 20px; */
  /* margin: 20px; */
  /* margin: 20px !important; */
  /* border: 50px solid red; */
  /* padding: 50px; */
  /* width: 300px;  */
  /* height: 400px; */
  box-sizing: border-box;
}
/* body{
    font-size: 20px;
} */
.testing_div {
  width: 300px;
  /* height: 100px; */
  border: 2px solid red;
  margin: 50px;
  /* border-radius: 50%; */
  font-size: 10px;
}
.testing_para {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* position, z-index, flex, animations, media querry, grid */

.parent_div {
  /* width: 50%; */
  height: 300px;
  border: 2px solid red;
  margin: 50px;
  position: relative;
}

.child_div {
  width: 100px;
  height: 100px;
  border: 2px solid green;
  position: sticky;
  top: 0px;
  left: 0px;
  /* top: 0px; */
  background-color: white;
  border-radius: 50%;
  /* margin-left: 550px;
  margin-top: 250px; */
}

/* .parent {
  border: 2px solid red;
  position: relative;
}
.child {
  width: 200px;
  color: white;
  height: 200px;
  position: absolute;
}
.child1 {
  background-color: aqua;
  left: 0px;
  top: 0px;
z-index: 2;
}
.child2 {
  background-color: blue;
  left: 20px;
  top: 20px;
  z-index: 3;
}
.child3 {
  background-color: black;
  left: 40px;
  top: 40px;
  z-index: 1;
} */

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.parent {
  /* border: 2px solid red; */
  display: flex;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* flex-direction: column;  */
  /* flex-wrap: wrap; */
}

.child {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
.grand_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .child1{
  flex-shrink: 0;
 } 
  .child2, .child3{
  flex-grow: 1;
 }  */

.nav_parent {
  background-color: aqua;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 70px;
  max-width: 1440px;
  margin: 0px auto;
}
.menu {
  display: flex;
  gap: 20px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 800px) {
  .navbar {
    background-color: red;
  }
}
@media screen and (max-width: 650px) {
  .parent {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    background-color: green;
    color: white;
  }
  .menu a {
    color: white;
  }
  /* .menu{
    display: none;
  } */
}
@media screen and (min-width: 1440px) {
  .parent {
    display: none;
  }
}

.animation_div {
  transition: 2s;
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin: 100px;
  /* position: absolute;
  left: 0px;
  top: 0%; */
  cursor: move;
}
.animation_div:hover .inner_child{
  /* animation: box_animation 5s forwards  ease-in-out; */
  scale:0.5;
   transition: 2s;
}
@keyframes box_animation {
  0% {
    /* top: 0px;
    left: 0px; */
    width: 100px;
  }
  /* 25% {
    left: 0px;
    top: 90%;
  }
  50% {
    left: 90%;
    top: 90%;
  }
  75% {
    left: 90%;
    top: 0px;
  } */
  100%{
    /* top: 0px;
    left: 90%; */
    width: 100%;
  }
}
